<h2>Lediga jobb</h2>
<table width="700">
	<tr align="left">
		<th>Datum </th>
		<th>Arbetsbeskrivning</th>
		<th>Ort</th>
    <th></th>
	</tr>
	<% @jobs.each do |job| %>
	<tr>
	  <td><%= job.updated_at.strftime("%d/%m/%Y") %></td>
	  <td><%= job.name %></td>
	  <td>Stockholm</td>
    <td><%= link_to "Apply job", "#{job.id}" %></td>
	</tr>
<% end %>
</table>

<br />
