<h2>Lediga jobb</h2>
<table width="700">
	<tr align="left">
		<th>Datum </th>
		<th>Arbetsbeskrivning</th>
		<th>Ort</th>
	</tr>
	<% @jobs.each do |job| %>
	<tr>
	<td>2011-10-31</td>
	<td><%= job.name %></td>
	<td>Stockholm</td>
	</tr>
<% end %>
</table>

<br />
