<h2>Lediga jobb</h2>
<table width="700">
	<tr align="left">
		<th>Datum </th>
		<th>Arbetsbeskrivning</th>
		<th>Ort</th>
    <th></th>
	</tr>
	<% @jobs.each do |job| %>
    <tr>
      <td><%= job.updated_at.strftime("%d/%m/%Y") %></td>
      <td><%= link_to job.name, job %></td>
      <td>Stockholm</td>
      <td>
        <% if current_user %>
          <% if job.users.exists?(current_user) %>
            <span style="color:green;">Du har sökt jobbet</span>
          <% else %>
            <%= link_to("Sök jobb", add_job_path(job.id), :method => :put) %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<br />
