<h2>Information</h2>
<p>För att kunna söka jobb, så måste du registrera dig och logga in först.<br />
<h2>Sök jobb</h2>
<p>Genom Young Consulting kan du arbeta som uthyrd konsult eller bli rekryterad till en tjänst direkt hos någon av våra uppdragsgivare.</p>
<p>
Att jobba som konsult kan vara ett sätt att snabbstarta karriären. Vi har många attraktiva företag som kunder och kan därför erbjuda kvalificerade och roliga konsultuppdrag inom många olika områden och branscher. Du får en chans att skapa viktiga kontakter och utveckla din kompetens.
Vi erbjuder både heltidsjobb och deltidsjobb beroende på vad som passar dig bäst.
</p>
